autopep8>=2.3.1
certifi>=2024.12.14
charset-normalizer>=3.4.1
cycler>=0.12.1
fonttools>=4.55.3
gevent>=24.11.1
greenlet>=3.1.1
idna>=3.10
kiwisolver>=1.4.8
matplotlib>=3.10.0
numpy>=2.2.1
packaging>=24.2
pandas>=2.2.3
pandas-ta>=0.3.14b0
Pillow>=11.1.0
pycodestyle>=2.12.1
pyparsing>=3.2.1
python-dateutil>=2.9.0.post0
pytz>=2024.2
requests>=2.32.3
scipy>=1.15.0
six>=1.17.0
slack-sdk>=3.34.0
toml>=0.10.2
urllib3>=2.3.0
websocket>=0.2.1
websocket-client>=1.8.0
zope.event>=5.0
zope.interface>=7.2
